.cart-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #eee;
  padding: 3%;
}
.id {
  font-size: 27px;
  font-weight: 500;
  padding-top: 5px;
}
.total {
  font-weight: 500;
  padding-top: 5px;
}
.cart-name {
  display: flex;
  flex-direction: column;
}
.details {
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
  color: gray;
  padding-top: 9px;
}

.sub-header {
  text-align: end;
  color: gray;
}
.header > h3 {
  margin: 0px;
}

.total {
  padding-top: 1%;
  text-align: end;
  font-size: 22px;
  padding: 2%;
}