main {
  min-height: 80vh;
  overflow-x: scroll;
}
.main-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.main-container > .section {
  flex: 50%;
  border: 1px solid;
}
.cart-container, .products-container {
  min-height: 400px;
  overflow: hidden;
  overflow-y: scroll;
  height: 500px;
  padding: 5%;
  margin: 1%;
}
.actions {
  padding: 1%;
}
@media only screen and (max-width: 780px) {
  .main-container {
    flex-direction: column;
  }
  .main-container > .section {
    flex:auto
  }
  .main-container > .products-container {
    min-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    height: 300px;
  }
}