main {
  min-height: 80vh;
  overflow-x: scroll;
}

.main-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.main-container > .section {
  margin: 2%;
  flex: 50% 1;
  padding: 2%;
  border: 1px solid #e0dddd;
}
.cart-container, .products-container {
  overflow: hidden;
  overflow-y: scroll;
  min-height: 400px;
  height: 500px;
  padding: 5%;
  margin: 1%;
}

.header {
  text-align: center;
  height: 50px;
  width: 100%;
}
.header > input {
  width: 75%;
  height: 40px;
}

.actions {
  padding: 1%;
}
.product > button {
  margin-top: 7%;
}
@media only screen and (max-width: 780px) {
  .main-container {
    flex-direction: column;
  }
  .main-container > .section {
    flex: auto;
  }
  .cart-container, .products-container {
    min-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    height: 300px;
  }
}