@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --button-color: #ff9f9f;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  padding: 10px;
  background-color: var(--button-color);
  border: 1px solid;
  width: 100%;
  color: black;
  font-weight: 500;
}
button:hover {
  cursor: pointer;
  opacity: 0.6;
}
button:disabled {
  cursor:not-allowed;
  background-color: gainsboro;
  opacity: 0.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
details {
  padding: 20px;
  margin: 10%;
  font-family: fantasy;
}
.error {
  border: 1px solid #ca3636a6;
  color: #a92323;
}
.info {
  border: 1px solid #ff9800;
  color: #a58424;
}
.loading-container {
  align-items: center;
  margin: 15% 40%;
}
.loader {
  border: 4px solid #f5f5f5;
  border-top: 10px solid #ffc0ca;
  border-radius: 50%;
  width: 74px;
  height: 83px;
  animation: spin 800ms ease-in-out infinite;
  -webkit-animation: spin 800ms ease-in-out infinite;
}
.theam-icon {
  height: 30px;
  position: absolute;
  right: 25px;
  top: 15px;
  cursor: pointer;
}
.app-header {
  height: 70px;
  box-shadow: 4px 8px 20px #eee;
  margin-bottom: 40px;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.app-header {
  height: 80px;
  border-bottom: 3px solid #eee;
  padding: 0px 10px;
}
.app-header > h1 {
  font-family: 'Pacifico', cursive;;
  letter-spacing: 2px;
  color: #00a6da;
  margin: 0px;
  padding: 0px;
  text-align: center;
}